---
import Navbar from "../components/NavBar";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tushar">
  <div class="h-screen p-2">
    <div>
      <div>
        <Navbar client:load />
      </div>
      <div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</Layout>
