---
import Slider from "../sections/Slider";
import { SocialLinksTop, SocialLinksBottom } from "../sections/SocialLinks";
import { HomeHeader, SectionHeading } from "../components/Headers";
import Services from "../sections/Services";
import Project from "../sections/Project";
import Skill from "../sections/Skill";
import Footer from "../sections/Footer";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <main class="flex-1 mt-[75px] lg:mt-2">
    <div
      class="flex flex-col lg:flex-row gap-3 lg:h-[calc(100vh-6.2rem)] lg:overflow-hidden"
    >
      <!-- Left part -->
      <div class="w-full lg:w-1/2 h-[500px] sm:h-[710px] lg:h-full">
        <div class="h-full lg:sticky lg:top-0">
          <Slider client:load />
        </div>
      </div>
      <!-- right part -->
      <div
        data-scroll
        data-scroll-speed="1"
        class="w-full lg:w-1/2 lg:overflow-y-auto"
      >
        <div class="flex flex-col gap-3">
          <div class="md:grid md:grid-cols-5 gap-2">
            <div class="md:col-span-3"><HomeHeader client:only /></div>
            <div class="md:col-span-2"><SocialLinksTop client:load /></div>
          </div>
          <SectionHeading title="Services" client:load />
          <divi id="services">
            <Services client:load />
          </divi>
          <SectionHeading title="Projects" link="View All" client:load />
          <Project client:load />
          <SectionHeading title="Skills" client:load />
          <div id="skills">
            <Skill client:load />
          </div>

          <SocialLinksBottom client:load />
          <Footer client:load />
        </div>
      </div>
    </div>
  </main>
</MainLayout>
