---
const project = {
    title: "Project Title",
    description: "This is a brief description of the project."
};
---

<article>
    <h1>{project.title}</h1>
    <p>{project.description}</p>
</article>